

<section class="relative h-[30rem] bg-cover bg-center bg-no-repeat" style="background-image: url('/assets/images/ui.png');">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
      <span class="text-white text-[4rem] uppercase font-extrabold">
        DISEÑO UX/UI
      </span>
    </div>
</section>


<section class="w-full p-10 flex flex-col items-center">

    <div class="py-6 px-14">
        <h3 class="text-3xl font-bold text-landing-blue mb-4">
            ¿Qué es el diseño UX/UI?
        </h3>
        <p class="text-gray-600 text-lg">
            Cuando creamos la web de una marca se nos pasan muchas cosas por la cabeza: ¿Las categorías están en el lugar adecuado?, ¿Hacen bien su función? ¿Son pequeñas o grandes? Para responder a todas las preguntas, lo primero que tenemos que hacer es evaluar el comportamiento del usuario (Ux y UI), qué acciones hace, qué es lo primero que mira y qué reacciones tiene para poder decidir qué diseño es el más adecuado.
        </p>
        <p class="text-gray-600 text-lg">
            Aquí es donde entra la UX (experiencia de usuario) y la UI (interfaz de usuario), que tienen la función de que el usuario encuentre lo que busca en el menor tiempo posible y además tenga una buena experiencia al visitar la web. En este artículo definiremos qué es la UX y la UI y qué relación existe entre ambas.
        </p>
        
    </div>

    <div class="py-6 px-14">
        <h3 class="text-3xl font-bold text-landing-blue mb-4">
            Factores que influyen
        </h3>

        <ul class="py-2 list-disc list-outside pl-4">
            <li class="text-gray-600 text-lg">
                La percepción: Tenemos que saber qué nos llama la atención, cómo nos afectan los colores y cómo desplazamos la mirada por la pantalla.
            </li>
            <li class="text-gray-600 text-lg">
                Las emociones: Las emociones no son reacciones automáticas, y por lo tanto hay que entender cómo se generan y qué implicaciones tienen. Las personas nos dejamos guiar más por las emociones que por cualquier otra cosa, y precisamente por eso es tan importante tenerlas en cuenta.
            </li>
            <li class="text-gray-600 text-lg">
                La memoria: Cuando diseñamos una web tenemos que pensar en las limitaciones de las personas para recordar. Muchas veces no se tienen en cuenta los caminos para que el usuario vuelva al punto de partida, y eso puede hacer que se sienta confuso.
            </li>
            <li class="text-gray-600 text-lg">
                La mentalidad: El usuario tendrá creencias, estereotipos, su interpretación de la sociedad y de las personas que lo rodean. Siguiendo en esta línea, vemos por qué cada vez más los usuarios buscan valoraciones de otras personas acerca de un producto en la red: no es solamente desconfianza, también implica qué prejuicios y creencias tiene.
            </li>
            <li class="text-gray-600 text-lg">
                La motivación: El usuario tiene que estar motivado durante todo el tiempo que esté en la página web, no solamente al principio, ya que sino puede ser que abandone. 
            </li>
            <li class="text-gray-600 text-lg">
                El aprendizaje: Desde el momento en que un usuario entra en una página web se convierte en un aprendiz y eso significa que tenemos que enseñarle los pasos que tiene que dar para que consiga su objetivo. Además, se tiene que estructurar la información para que el usuario entienda fácilmente todo el contenido de la web.
            </li>
            
        </ul>
    </div>

    <div>
        <img src="./assets/icons/dot.svg" alt="dot">
    </div>
    
    <div class="py-6 px-14">
        <h3 class="text-3xl font-bold text-landing-blue mb-4 text-start">
            Galeria
        </h3>
    </div>

</section>
