<header 
    class="sticky top-0 w-full z-30 bg-landing-blue transition duration-300 ease-in-out shadow-lg"
>
    <div class="max-w-6xl mx-auto px-5 sm:px-6">
        <div class="flex items-center justify-between h-16 md:h-20">
            <nav class="flex grow">
                <ul class="flex grow justify-center flex-wrap items-center">
                    <li>
                        <landing-logo />                    
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>