<div class="max-w-md  bg-white overflow-hidden md:max-w-lg mt-8 p-4">
    <div class="border-landing-blue border-[3px] border-dashed rounded-lg relative">
        <div class="p-8 text-center">
            <div class="flex justify-center pb-4">
                <trazo-title  [type]="'two'">
                    <h2 class="text-2xl tracking-wide text-landing-pink font-bold text-center">
                        Regístrate y obtén
                    </h2>
                </trazo-title>
            </div>
            <div class="block md:flex justify-center">
                <span class="text-8xl font-extrabold text-landing-pink text-shadow-yellow">
                    10%
                </span>
                <div class="text-start ml-4">
                    <span class="text-md md:text-xl text-landing-blue font-semibold">En tu primera compra de</span>
                    <div class="mt-2 text-xl text-landing-pink font-black">CYBER DAYS</div>
                </div>
                
            </div>
            
            <p class="mt-4 text-landing-blue text-sm">
                Aplicamos el descuento mediante un código que se te enviará a tu correo registrado.
            </p>
            <p class="text-landing-blue text-sm mt-2">Cupón válido del 28 al 30 de marzo.</p>
            <p class="text-landing-blue text-sm mt-2">*Aplican términos y condiciones</p>
        </div>
        <img  class="absolute bottom-[9rem] -right-[0.65rem]" src="./assets/icons/cut.svg">
    </div>
</div>